.courses-page {
    footer {
        padding-bottom: 24px;
    }
}

.courses {
    .align-block();

    &__load {
        .function-button();
        width: 100%;
        margin-bottom: 68px;

        &:hover {
            .hover-btn();
        }

        &:active {
            .click-btn()
        }

        &_hidden {
            display: none;
        }

        &_disabled {
            opacity: 0.56;
            pointer-events: none;
        }
    }
}

.header {
    &__login,
    &__logout {
        .flex-items-center();
    }

    &__login {
        margin-right: 2rem;
        margin-left: auto;

        &-icon {
            margin-right: 0.75rem;
        }

        &-name {
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: @color-text;
        }
    }

    &__logout {
        &-icon {
            margin-right: 3px;
        }
    }
}

.search {
    .flex-space-between-center();
    padding: 2rem 0;

    &__btn {
        .function-button();

        &:hover {
            .hover-btn();
        }

        &:active {
            .click-btn()
        }
    }

    &__input {
        .text-input();
        width: 587px;
        margin-right: 16px;

        &:hover {
            .hover-input();
        }

        &:focus {
            .focus-input();
        }
    }

    &_hidden {
        display: none;
    }
}

.course {
    .flex-space-between();
    padding: 20px 32px 24px;
    background: @white;
    box-shadow: 0px 4px 12px @color-shadow;
    border-radius: 12px;
    margin: 24px 0px;

    &__content {
        width: 84%;
    }

    &__date {
        font-family: @font-family-courses;
        font-size: 13px;
        line-height: 16px;
        color: @dark-grey;
    }

    &__title {
        font-size: 24px;
        line-height: 40px;
        font-weight: 500;
        color: @color-text;
        margin-right: 8px;
    }

    &__time {
        .flex-items-center();
        padding: 4px 8px;
        background: @saturated-gray;
        border-radius: 12px;
        height: fit-content;
        font-size: 13px;
        line-height: 16px;
    }

    &__star {
        margin-left: 10.5px;
    }

    &__title-wrapper {
        .flex-items-center();
    }

    &__description {
        font-size: 15px;
        line-height: 24px;
        color: @dark;
    }

    &:nth-child(1) {
        margin-top: 39px;
    }

    &__edit {
        .function-button();
        .flex-center();
        width: 128px;
        font-size: 15px;
        height: 40px;
        margin-bottom: 16px;
        margin-top: 8px;

        &-icon {
            margin-right: 11px;
        }

        &:hover {
            .hover-btn();
        }

        &:active {
            .click-btn()
        }
    }

    &__delete {
        .function-button();
        .flex-center();
        background-color: @delete-btn;
        color: @color-red;
        width: 128px;
        font-size: 15px;
        height: 40px;

        &-icon {
            margin-right: 11px;
        }

        &:hover {
            .hover-btn-red();
        }

        &:active {
            .click-btn-red()
        }
    }
}