.edit {
    margin-top: 39px;
    .flex-column();
    padding: 20px 32px 24px;
    background: @white;
    box-shadow: 0px 4px 12px @color-shadow;
    border-radius: 12px;
    margin: 24px 0px;

    &__title {
        font-size: 24px;
        line-height: 40px;
        color: @color-text;
    }

    &__content {
        .flex-column();
        width: 80%;
        margin: 0 auto;
        margin-top: 32px;

        &-buttons {
            .flex-space-between-center();
            width: 25%;
        }
    }

    &__text {
        .flex-space-between();
        align-items: center;
        padding: 12px 0;
        box-shadow: inset 0px -1px 0px @border-gray;
        height: 48px;

        &-input {
            width: 80%;
            .text-input();
            border: none;
        }

        &-label {
            color: @dark-grey;
        }

        &-description,
        &-author {
            .flex-column();
            padding-top: 24px;

            &-textarea {
                margin-top: 12px;
                resize: none;
                height: 192px;
                .text-input();
            }
        }

        &-authors {
            .text-input();
            margin-top: 12px;
        }
    }

    &__save {
        .flex-center();
        .function-button();
        width: 107px;
        margin-top: 24px;

        &:hover {
            .hover-btn();
        }

        &:active {
            .click-btn()
        }
    }

    &__cancel {
        font-family: Roboto;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: @color-btn;
        border: none;
        background-color: @white;
        cursor: pointer;
        margin-top: 24px;
    }
}

.spinner {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border-top: 4px solid @white;
    border-right: 4px solid @white;
    border-bottom: 4px solid @spinner;
    border-left: 4px solid @spinner;
    animation: loading 1.2s infinite linear;
}

@keyframes loading {
	to { transform: rotate(360deg); }
}