<!DOCTYPE html>
<html lang="en">
{% include './head.html' %}

<body class="courses-page">
    {% include './headerMain.html' %}
    <main>
        {% include './search.html' %}
        <hr>
        <div class="courses">
            <div id="courseCatalog">

            </div>
            <div id="loadMore">
                {{ macro.button("Load more", "courses__load") }} 
            </div> 
        </div>          
    </main>
    {% include './footer.html' %}
    {% include './templates.html' %}
    <script src="main.js"></script>
</body>

</html>
