<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link href="css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="wrapper wrapper-header">
            {% block logo %}{% endblock %}
            <button class="wrapper-header__btn-login">
                Login
            </button>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <form action="" class="wrapper-login">
                <div class="wrapper-login__title">Login</div>
                <div class="wrapper-login__text">
                    <label for="mail">Email</label>
                    <input type="text" id="mail">
                </div>
                <div class="wrapper-login__text">
                    <label for="pass">Password</label>
                    <input type="password">
                </div>
                <button class="wrapper-login__btn">
                    Login
                </button>
            </form>
        </div>
    </main>
    {% include './footer.html' %}  
</body>

</html>