<!DOCTYPE html>
<html lang="en">
{% include './head.html' %}

<body class="courses-page">
    {% include './headerMain.html' %}
    <main>
        <div class="courses">
            <form action="" class="edit" id="editForm">
                <div class="edit__title">Edit course</div>
                <div class="edit__content" id="courseContent">
                    <div class="spinner"></div>
                    <div class="edit__text">
                        <label for="title" class="edit__text-label">Title</label>
                        <input type="text" id="title" class="edit__text-input">
                    </div>
                    <div class="edit__text">
                        <label for="date" class="edit__text-label">Date</label>
                        <input type="text" id="date" class="edit__text-input">
                    </div>
                    <div class="edit__text">
                        <label for="duration" class="edit__text-label">Duration</label>
                        <input type="text" id="duration" class="edit__text-input">
                    </div>
                    <div class="edit__text-description">
                        <label for="description" class="edit__text-description-label">Description</label>
                        <textarea id="description" class="edit__text-description-textarea"></textarea>
                    </div>
                    <div class="edit__text-author">
                        <span class="edit__text-author-span">Authors</span>
                        <div id="authors" class="edit__text-authors"></div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    {% include './footer.html' %}
    {% include './templates.html' %}
    <script src="edit.js"></script>
</body>

</html>