<header>
    <div class="centering-block header">
        <img src="img/coursenta.svg" alt="logo">
        <div class="header__login">
            <img src="../img/login_icon.svg" alt="login icon" class="header__login-icon">
            <span class="header__login-name">{{ data.name }}</span>
        </div>
        <div class="header__logout">
            <img src="../img/logout.svg" alt="logout icon" class="header__logout-icon">
            <button class="header__btn-login">
                Log out
            </button>
        </div>
    </div>
</header>