<header>
    <div class="wrapper wrapper-header">
            <img src="img/Coursenta.svg" alt="logo">
        <div class="wrapper-header__elems">
            <div class="wrapper-header__elems-people">
                <img src="../img/pepople.svg" alt="people">
                <span>{{ data.name }}</span>
            </div>
            <div class="wrapper-header__elems-logout">
                <img src="../img/Icon.svg" alt="">
                <button class="wrapper-header__btn-login">
                    Log out
                </button>
            </div>
        </div>         
    </div>
</header>