<!DOCTYPE html>
<html lang="en">
{% include './head.html' %}
<body class="login-page">
    {% include './headerLogin.html' %}
    <main>
        <div class="centering-block">
            <form action="" class="login">
                <div class="login__title">Login</div>
                <div class="login__text">
                    <label for="mail" class="login__text-label">Email</label>
                    <input type="mail" id="mail" class="login__text-input">
                </div>
                <div class="login__text">
                    <label for="pass" class="login__text-label">Password</label>
                    <input type="password" id="pass" class="login__text-input">
                </div>
                {{ macro.button("Login", "login__btn") }}
            </form>
        </div>
    </main>
    {% include './footer.html' %}
</body>

</html>