<!--
    все что внутри raw nunjucks будет игнорировать
    https://mozilla.github.io/nunjucks/templating.html#raw
-->
{% raw %}
<script id="entry-template" type="text/x-handlebars-template">
  {{#each skills}}
    <div class="course" id={{this.id}}>
      <div class="course__content">
        <div>
            <p class="course__date">
                {{this.date}}
            </p>
        </div>
        <div class="course__title-wrapper">
            <p class="course__title">
                {{this.title}}
            </p>
            <p class="course__time">
                {{this.duration}}
            </p>
        </div>
        <div>
            <p class="course__description">
                {{this.description}}
            </p>
        </div>
      </div>       
      <div>
        {% endraw %}
          {{ macro.button("Edit", "course__edit", "course__edit-icon", "img/edit.svg") }}
          {{ macro.button("Delete", "course__delete", "course__delete-icon", "img/delete.svg") }}
        {% raw %}
      </div>    
    </div>
    {{/each}}   
</script>
{% endraw %}

{% raw %}
<script id="edit-template" type="text/x-handlebars-template">
    <input type="text" id="idCourse" value={{id}} hidden>
    <div class="edit__text">
      <label for="title" class="edit__text-label">Title</label>
      <input type="text" id="title" class="edit__text-input" value="{{title}}">
    </div>
    <div class="edit__text">
        <label for="date" class="edit__text-label">Date</label>
        <input type="text" id="date" class="edit__text-input" value={{date}}>
    </div>
    <div class="edit__text">
        <label for="duration" class="edit__text-label">Duration</label>
        <input type="text" id="duration" class="edit__text-input" value="{{duration}}">
    </div>
    <div class="edit__text-description">
        <label for="description" class="edit__text-description-label">Description</label>
        <textarea id="description" class="edit__text-description-textarea">{{description}}</textarea>
    </div>
    <div class="edit__text-author">
        <span class="edit__text-author-span">Authors</span>
        <div id="authors" class="edit__text-authors">
          {{#each this.authors}}
            <div class="author">
              <span class="author__name">{{this}}</span>
              <img src="./img/close.svg" alt="close" class="delete-author">
            </div>
          {{/each}}  
        </div>
    </div>   
    <div class="edit__content-buttons">
      {% endraw %}
      {{ macro.button("Save", "edit__save") }}
      {{ macro.button("Cancel", "edit__cancel") }}
      {% raw %}
    </div>    
</script>
{% endraw %}